<%= stylesheet_link_tag 'edit', :media => "all" %>
<h3>投稿編集</h3>

<div class="post-container">
<%= form_for @tweet do |f| %>
<div class="field">
  <h2><%= f.label :タイトル %></h2>
  <%= f.text_field :title,class: "input-title", :size => 140 %> 
  <h2><%= f.label :投稿内容 %></h2>
  <%= f.text_area :body, class: "input-body", :size => 140 %> 
  <h2><%= f.label :画像 %></h2>
    <%= f.file_field :image %>
  </div>
<%# <% end %> 

<%# <%= form_for @tweet do |f| %> 
  <div class='form-group'>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
      <% end %>
  </div>

  <%= f.submit "編集する" %>
<% end %>
</div>