<%= stylesheet_link_tag 'users_show', :media => "all" %>

<h1>マイページ</h1>
<section class="profile">
<h2>投稿者プロフィール</h2>
  <div class="icon">
    <% if @user.icon.attached? %>
      <%= image_tag @user.icon.variant(resize_to_limit: [150, 150]) %>
    <% else %>
    <i class="fa-solid fa-rainbow"></i>
      <%# <%= image_tag "default_icon.png", size: "150x150" %> <!-- デフォルト画像 --> 
    <% end %>
  </div>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <div class="edit"> 
<%= link_to "編集する", edit_user_registration_path, class: "btn" %>  </div>
<% end %>
</section>

<section class="tweets">
  <h2>あなたの投稿一覧</h2>
<% @tweets.each do |t| %>
  <div class="tweet">
    <p><strong>
      <%= t.created_at.strftime('%Y/%m/%d %Hh%Mm%Ss') %>：
      <%# <%= t.user.nameさんの投稿： %>
      </strong></p>
    <b><%= t.title %></b>
    <p><%= t.body %></p>
    <% if t.image.attached? %>
      <%= image_tag t.image.variant(resize_to_limit: [250, 200]), size: '250x200', class: "tweet-image" %>
    <% end %>
          <%= link_to "投稿詳細へ", tweet_path(t.id) %> 
  </div>
<% end %>
<%= page_entries_info @tweets %>
<%= paginate @tweets, param_name: :page %>  <!-- ← param_nameを指定 -->
</section>

<!-- 以下はいいね機能を実装している場合-->
<%# <h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_tweets.each do |t| %>
  <%# <%= t.user.name %>
  <%# <%= t.body %>
<%# <% end %>
<!-- ここまで-->

<%= button_to "投稿一覧に戻る", tweets_path %>

<section class="likes">
<h2>いいねした投稿</h2>
<%# <% @likes.each do |t| %> 
<% @liked_tweets.each do |t| %>
  <div class="liked-tweet">
    <p><strong><%= t.user.name %>さんの投稿：</strong></p>
    <b><%= t.title %></b>
    <p><%= t.body %></p>
    <% if t.image.attached? %>
      <%= image_tag t.image.variant(resize_to_limit: [250, 200]), size: '250x200', class: "liked-tweets-image" %>
    <% end %>
  </div>
<% end %>
<%= page_entries_info @liked_tweets %>
<%= paginate @liked_tweets, param_name: :liked_page %>  <!-- ← ここもparam_nameを指定！ -->
</section>