<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= favicon_link_tag 'logo-browser1.png' %>
    <title>Le ciel dans votre vie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/218877d811.js" crossorigin="anonymous"></script>
 
  </head>

  <body>
    <header>
      <div class="logo-area">
        <%= link_to root_path do %>
          <%= image_tag 'ciel_logoG.png', alt: 'Le ciel dans votre vie', class: 'site-logo' %>
        <% end %>
        <h1><%= link_to 'Le ciel dans votre vie', hello_top_path %></h1>
      </div>
      <div class="header-list">
      <ul>
        <li><%= link_to '投稿一覧', tweets_path %></li>
        <li><%= link_to '新規投稿', new_tweet_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-link" %></li>
        <% else %>
        <%# <li><%= link_to "マイページ", user_path(current_user.id) %></li> 
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>  
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © helene All Rights Reserved.</p>
    </footer>

  </body>
</html>